@charset "utf-8";

/* 초기화 */
*{margin: 0px; padding: 0px;}
ul, li{list-style: none;}
a{color: #333; text-decoration:none;}
body{
  font-family: "맑은 고딕", arial, sans-serif;
  font-size:12px;
  color: #333;
}


/* common */
header{
  width: 100%; height: 70px;
  background-color: #f7f7c8;
  position: relative;
}
header > h1{
  width: 60px; height: 60px;
  padding: 10px 0px 0px 10px;
  background-color: #f00;
  font-size: 12px;
}

/* 토글버튼 */
.total_btn{
  position: absolute;
  right: 10px; top: 15px;
}
.fa-bars{
  font-size: 40px;
}
#toggle{display: none;}

/* gnb메뉴 서식 */
.gnb{
  width: 100%; height: 100%;
  position: fixed; left: 100%; top: 0;
  background-color: rgba(0,0,0,.7);
  padding-left: 30%;
  box-sizing: border-box;
}
/* 토글버튼 클릭시 gnb의 위치가 left:0 이 된다 */
#toggle:checked + header .gnb{left: 0; transition: 0.4s;}


.gnb > ul{
  width: 100%; height: 100%;
  padding-top: 100px; /*닫기버튼이 메뉴와 같은 라인에 있을 경우 터치할 때 오류가 생길 수 있으니 메뉴에 패딩값을 많이 줘서 높이를 다르게 해준다. */
  background-color: #f7f7c8;
}
.gnb > ul >li{
  line-height: 40px;
  border-bottom: 1px solid #ccc;
  text-indent: 10px;
}
.gnb > ul > li > a{
  font-size: 1.1rem; /*1rem은 16px*/
  display:block;
  line-height: 40px;
}
.gnb .fa-angle-down{
  float: right;
  padding: 10px;
}

/* 닫기 버튼 */
.gnb .fa-times{
  font-size: 40px;
  color: #fff;
  position: absolute;
  left: 3%; top: 3%;
  transition: 0.4s;
}

/* 반응형일 경우 hover를 써도 가능, 하지만 적응형 모바일 경우는 hover가 먹히지 않음 */
.gnb .fa-times:hover{
  transform:rotate(180deg);
}