@charset "utf-8";

/* base */
/* 폰트, 크기, 색상, 링크 */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

:root{
  --base_text_color: #333;
  --base_font_size: 15px;
}
body{
  font-family: "Noto Sans KR", sans-serif, '맑은고딕';
  font-size: var(--base_font_size);
  color: var(--base_text_color);
}
a{
  font-size: var(--base_font_size);
  color: var(--base_text_color);
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}