@charset "utf-8";

/* common 공통서식 */
:root{
  --main_color: #f36f21;
  --txt_color1: #fff;
  --base_txt_color: #333;
}

/* 헤더서식 */
header{
  width: 100%; height: 150px;
  position: absolute;
  z-index: 1000;
}
header > h1{
  width: 300px;
  position: absolute; top: 40px; left: 3%;
}
header > h1 img{width: 100%;}

/* pc버전에서 토글버튼 숨기기 */
#toggle{
  display: none;
  width: 32px; height: 30px;
  padding: 8px;
  background: rgba(0,0,0,.3);
  position: absolute; right: 3%; top: 24px;
  border: 1px solid #fff;
}
#toggle:hover{
  background: var(--main_color);  
  border: 1px solid var(--main_color);
}
#toggle span{
  background-color: #fff;
  display: inline-block;
  width: 32px; height: 2px;
  position: absolute;
}
#toggle span:first-child{top: 12px;}
#toggle span:nth-child(2){top: 22px;}
#toggle span:last-child{top: 32px;}

/* 메인메뉴 서식 */
.gnb{
  position: absolute; right: 3%; top: 40px;
}
.gnb > ul{display: flex;}
.gnb > ul > li{margin: 0 20px; line-height: 40px; position: relative;}
.gnb > ul > li > a{
  font-size: 1.1rem;
  color: var(--txt_color1);
}
.gnb > ul > li:last-child > a{
  background-color: var(--base_txt_color);
  font-size: 0.9rem;
  padding: 4px 19px;
  transition: 0.3s;
  border: 1px solid var(--base_txt_color); /*미리 보더 안넣어주면 오버할때 보더가 생겨서 너비값이 바껴버리기때문에 울룩불룩해진다. */
}
.gnb > ul > li:last-child > a:hover{
  background-color: var(--txt_color1);
  color: var(--main_color);
  border: 1px solid var(--main_color);
  text-decoration: none;
}
/* 서브메뉴 서식 */
.sub{
  border: 1px solid #ccc;
  box-shadow: 0px 1px 1px #ccc;
  border-radius: 4px;
  padding: 2px;
  background-color: var(--txt_color1);
  position: absolute; width: 100%; /*.sub의 부모 li태그에 relative를 준다. */
  display: none;
}
/* 근데 부모 글자 크기에 따라 너비값이 달라지기 때문에 각 .sub너비를 따로 맞춰준다. */
.gnb li:first-child .sub a, .gnb li:nth-child(2) .sub a{padding: 0px 10px;}
.gnb li:first-child .sub{width: 150px; left: -45px;}
.gnb li:nth-child(2) .sub{width: 200px; left: -68px;}

.sub li{text-align: center;}
.sub li a{
  font-size: 0.9rem;
  display: block;
  line-height: 36px;
  transition: 0.5s;
}
.sub li:hover a{
  background-color: var(--main_color);
  color: var(--txt_color1);
  text-decoration: none;
}

/* 푸터서식 */
footer{
  width: 100%;
  color: var(--txt_color1);
  background-color: #222;
}
.t_btn{
  position: fixed;
  right: 40px; bottom: 80px;
  z-index: 1001; /*header보다 위에*/
}
.f_inner{background-color: #444;}
.f_inner > nav{
  display: flex;
  justify-content: space-between;
  width: 1200px; margin: 0 auto;
  padding: 50px 0;
}
.f_inner > nav a:hover{text-decoration: none;}
.f_inner > nav > dl{line-height: 30px;}
.f_inner dl dt a{
  color: var(--main_color);
  font-weight: bold; font-size: 1rem;
  transition: 0.5s;
}
.f_inner dd a{transition: 0.5s;}
.f_inner dt a:hover{
  color: #7386d4;
}
.f_inner dd a:hover{
  color: var(--main_color);
}
.f_inner dd a{color: #d1d1d1;}

/* sns서식 */
.f_inner dl:last-child{text-align: center;}
.f_inner dl:last-child dt{font-size: 1.2rem;}
.f_inner dl i.fa-brands{
  font-size: 0.9rem;
  border: 1px solid #ccc;
  color: #d1d1d1;
  padding: 6px 8px;
  margin: 18px 6px 0px 6px;
  transition: 0.5s;
}
.f_inner dl i.fa-brands:hover{
  border: 1px solid var(--main_color);
  color: var(--main_color);
}
/* address 서식 */
address{
  width: 100%; 
  display: flex; justify-content: space-between ;
}
address h2{
  width: 200px; padding: 10px 0px 0px 5%;
}
address h2 img{
  width: 100%;
}
address p{ padding-right: 3%; line-height: 70px;}

/* 모달창 */
.modal{
  width: 100%; height: 100%; 
  background-color: rgba(0,0,0,.4); 
  position: absolute; top: 0; left: 0;
  color: #fff;
  font-weight: bold;
}
.modal .m_inner{
  width: 400px; margin: 0 auto;
  transform: translateY(50%);      
}
.modal .m_inner a{
  display: block;
  width: 400px; height: 400px; margin: 0px auto 10px auto;
  border-radius: 5%; overflow: hidden;
}
.modal .m_inner img{width: 100%;}
.modal input[type=checkbox]{-display: none;}
.modal label{cursor: pointer;}
.modal input[type=button]{
  float: right;
  border: none;
  color: #fff;
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

/* 모바일 해상도일 경우 */
@media screen and (max-width: 767px) {
  header > h1{top: 20px;} /*header > h1으로 선택자를 썼는데 여기서 h1만 쓰면 선택자 레벨이 낮아져서 서식이 먹지 않는다.*/
  /* 토글보이게하기 */
  #toggle{display: block;}
  
  /* gnb */
  .gnb{
    display: none;
    background-color: var(--txt_color1);
    width: 90%; top: 90px; right: 5%;
  }
  .gnb > ul > li{
    text-align: center;
    margin: 0;
  }
  .gnb > ul > li > a{
    font-size: 0.85rem;
    color: var(--base_txt_color);
  }
  .gnb > ul{display: block;}
  .gnb > ul > li:last-child > a{
    background-color: var(--main_color);
    border: none; color: var(--txt_color1);
    display: block;
  }
  .gnb li .sub{
    width: 100%; z-index: 100; 
    padding: 0; border: none;
  }
  .gnb li .sub li a{background-color: #e8e8e8;}
  .gnb li:first-child .sub{width: 100%; left: 0;}
  .gnb li:nth-child(2) .sub{width: 100%; left: 0;}

  /* 모바일 푸터영역 서식 */
  .f_inner > nav{
    width: 96%;
    flex-wrap: wrap;
  }
  .f_inner > nav > dl{width:50%; margin-bottom: 10px;}
  .f_inner dl:last-child{width: 100%;} /*너비값 50%에서 100%줘서 가운데 배치*/
  address{
    display: block; text-align: center; 
    height: 100px; width: 100%;
  }
  address h2{width: 30%; margin: 0 auto;}
  address p{padding-right: 0%; line-height: 160%; font-size: 0.9rem;}
}