@charset "utf-8";

/* common 공통서식 */
:root{
  --main_color: #f36f21;
  --txt_color1: #fff;
  --base_txt_color: #333;
}

/* 헤더서식 */
header{
  width: 100%; height: 150px;
  position: absolute;
  z-index: 1000;
}
header > h1{
  width: 300px;
  position: absolute; top: 40px; left: 3%;
}
header > h1 img{width: 100%;}

/* 메인메뉴 서식 */
.gnb{
  position: absolute; right: 3%; top: 40px;
}
.gnb > ul{display: flex;}
.gnb > ul > li{margin: 0 20px; line-height: 40px; position: relative;}
.gnb > ul > li > a{
  font-size: 1.1rem;
  color: var(--txt_color1);
}
.gnb > ul > li:last-child > a{
  background-color: var(--base_txt_color);
  font-size: 0.9rem;
  padding: 4px 19px;
  transition: 0.3s;
  border: 1px solid var(--base_txt_color); /*미리 보더 안넣어주면 오버할때 보더가 생겨서 너비값이 바껴버리기때문에 울룩불룩해진다. */
}
.gnb > ul > li:last-child > a:hover{
  background-color: var(--txt_color1);
  color: var(--main_color);
  border: 1px solid var(--main_color);
  text-decoration: none;
}
/* 서브메뉴 서식 */
.sub{
  border: 1px solid #ccc;
  box-shadow: 0px 1px 1px #ccc;
  border-radius: 4px;
  padding: 2px;
  background-color: var(--txt_color1);
  position: absolute; width: 100%; /*.sub의 부모 li태그에 relative를 준다. */
  display: none;
}
/* 근데 부모 글자 크기에 따라 너비값이 달라지기 때문에 각 .sub너비를 따로 맞춰준다. */
.gnb li:first-child .sub a, .gnb li:nth-child(2) .sub a{padding: 0px 10px;}
.gnb li:first-child .sub{width: 150px; left: -45px;}
.gnb li:nth-child(2) .sub{width: 200px; left: -68px;}

.sub li{text-align: center;}
.sub li a{
  font-size: 0.9rem;
  display: block;
  line-height: 36px;
  transition: 0.5s;
}
.sub li:hover a{
  background-color: var(--main_color);
  color: var(--txt_color1);
  text-decoration: none;
}

/* 푸터서식 */
footer{
  width: 100%;
  color: var(--txt_color1);
  background-color: #222;
}
.t_btn{
  position: fixed;
  right: 40px; bottom: 80px;
  z-index: 1001; /*header보다 위에*/
}
.f_inner{background-color: #444;}
.f_inner > nav{
  display: flex;
  justify-content: space-between;
  width: 1200px; margin: 0 auto;
  padding: 50px 0;
}
.f_inner > nav a{}
.f_inner > nav a:hover{text-decoration: none;}
.f_inner > nav > dl{line-height: 30px;}
.f_inner dl dt a{
  color: var(--main_color);
  font-weight: bold; font-size: 1rem;
  transition: 0.5s;
}
.f_inner dd a{transition: 0.5s;}
.f_inner dt a:hover{
  color: #7386d4;
}
.f_inner dd a:hover{
  color: var(--main_color);
}
.f_inner dd a{color: #d1d1d1;}

/* sns서식 */
.f_inner dl:last-child{text-align: center;}
.f_inner dl:last-child dt{font-size: 1.2rem;}
.f_inner dl i.fa-brands{
  font-size: 0.9rem;
  border: 1px solid #ccc;
  color: #d1d1d1;
  padding: 6px 8px;
  margin: 18px 6px 0px 6px;
  transition: 0.5s;
}
.f_inner dl i.fa-brands:hover{
  border: 1px solid var(--main_color);
  color: var(--main_color);
}
/* address 서식 */
address{
  width: 100%; 
  display: flex; justify-content: space-between ;
}
address h2{
  width: 200px; padding: 10px 0px 0px 5%;
}
address h2 img{
  width: 100%;
}
address p{ padding-right: 3%; line-height: 70px;}